@model FindTheBooty.Models.GeneratedModels.user

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>user</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.display_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.display_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.points)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.points)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rank)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.num_hunts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.num_hunts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.num_treasures)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.num_treasures)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.user_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
