@model FindTheBooty.Models.Hunt

<tr id="@Model.HuntID">
    <td><a id="@Model.HuntID-name-link" href="/Participating/Hunt?id=@Model.HuntID">@Model.HuntName</a></td>
    <td>@Model.HuntType</td>
    <td>@Model.EndDateTime</td>
    @*<td><a href="#" id="@Model.HuntID-actions">View Actions</a></td>*@
</tr>