@model FindTheBooty.Models.GeneratedModels.user_badge_relation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>user_badge_relation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.completed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.completed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.badge.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.badge.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
