@model IEnumerable<FindTheBooty.Models.GeneratedModels.user_badge_relation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.badge.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.badge.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.badge.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.badge.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user.email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
