@model FindTheBooty.Models.EditProfileViewModel
@{
    ViewBag.Title = "Edit Profile";
}
<h3>Come Aboard, Matey!</h3>
<form action="/Account/EditProfile" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "Enter your first name" })
        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
        @*<label for="">First Name</label>
            <input id="userFirstName" class="form-control" placeholder="Enter your first name" />*@
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Enter your last name" })
        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
        @*<label for="">Last Name</label>
            <input id="userLastName" class="form-control" placeholder="Enter your last name" />*@
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Enter your email address" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        @*<label for="">Email</label>
            <input id="userEmail" class="form-control" placeholder="Enter your email address" />
            <span id="emailFeedback" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>*@
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmEmail)
        @Html.TextBoxFor(m => m.ConfirmEmail, new { @class = "form-control", @placeholder = "Re-enter your email address" })
        @Html.ValidationMessageFor(m => m.ConfirmEmail, "", new { @class = "text-danger" })
        @*<label for="">Confirm Email</label>
            <input id="userEmailConf" class="form-control" placeholder="Re-enter your email address" />
            <p id="emailMatchError" class="text-danger hidden">The entered emails do not match and can't be left empty!</p>
            <span id="emailConfFeedback" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>*@
    </div>
    
    <hr />
    <div class="form-group">
        @Html.LabelFor(m => m.DisplayName)
        @Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control", @placeholder = "Enter a public display name" })
        @Html.ValidationMessageFor(m => m.DisplayName, "", new { @class = "text-danger" })
        @*<label for="">Display Name</label>
            <input id="userDispName" class="form-control" placeholder="Enter a public display name" />*@
    </div>
   
    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber)
        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @placeholder = "Enter your phone number: (XXX) XXX-XXXX" })
        @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
        @*<label for="">Phone Number</label>
            <input id="userPhoneNum" class="form-control" placeholder="Enter your phone number: (XXX) XXX-XXXX" />*@
    </div>
    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">Register</button>
        <button type="reset" class="btn btn-danger">Clear Form</button>
    </div>
</form>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}