@model FindTheBooty.Models.UpgradeUserViewModel
@{
    ViewBag.Title = "Upgrade User";
}

<div class="title">
<h1 class="bilbo-swash-caps">Welcome to the Upgrade User Page </h1>
  @*<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div id="imaginary_container">
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>*@
    <form action="/Admin/UpgradeUser" id="userSearch" method="post">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.AdminInput)
            @Html.TextBoxFor(m => m.AdminInput, new { @class = "form-control", @placeholder = "Enter a username" })
            @Html.ValidationMessageFor(m => m.AdminInput, "", new { @class = "text-danger" })
        </div>
    </form>
    <button class="btn btn-primary" type="submit" onclick="formSubmit()">
        <span class="glyphicon glyphicon-search"></span>
    </button>
    <div>
        @if (@Model.ReturnedUser != null)
        {
            <p>Username: @Model.ReturnedUser</p>
        }else
        {
            <p>The User does not exist.</p>
        }
    </div>
</div>
<br />
<div>
    <a href="/Admin/Admin" class="btn btn-info" role="button">Back</a>
</div>

<script>
    function formSubmit() {
        var grabForm;
        grabForm = $('#userSearch');
        grabForm.submit();
    }
</script>