@model FindTheBooty.Models.UpgradeUserViewModel
@{
    ViewBag.Title = "Upgrade User";
}

<div class="title">
    <h1 class="bilbo-swash-caps">Welcome to the Upgrade User Page </h1>
</div>
<div class="row">
    <div class="col-xs-12">
        <form action="/Admin/UpgradeUser" id="userSearch" method="post">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.AdminInput)
                @Html.TextBoxFor(m => m.AdminInput, new { @class = "form-control", @placeholder = "Enter a username" })
                @Html.ValidationMessageFor(m => m.AdminInput, "", new { @class = "text-danger" })
            </div>
            <button class="btn btn-primary" type="submit">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </form>
    </div>
    @if (ViewBag.ReturnedUserList != null)
    {
        <div class="col-xs-12">
            <h3>Multiple Users with that Username</h3>
            <ul>
                @foreach(FindTheBooty.Models.GeneratedModels.user user in ViewBag.ReturnedUserList)
                {
                    <li>@Html.ActionLink(user.display_name, "PromoteUser", new { userId = user.user_id })</li>
                }
            </ul>
        </div>
    }
    <div class="col-xs-12">
        <a href="/Admin/Admin" class="btn btn-info" role="button">Back</a>
    </div>
</div>