<!--AddTreasuresView(.cshtml)-->
@model FindTheBooty.Models.AddTreasuresViewModel
@{
    ViewBag.Title = "Add some booty";
}

<h2>Add a treasure!</h2>

<form action="/CreateHunt/AddTreasures?huntId=@ViewBag.huntId " method="post" id="treasureForm">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control", @placeholder = "Enter the name of the treasure" })
        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
        @*<label for="">Treasure Name</label>
            <input id="treasureName" class="form-control" placeholder="Enter the name of the treasure" />*@
    </div>
    <!--Only accepting pictures w/ .png format-->
    <div class="form-group">
        <label for="image">Upload an image for the treasure</label>
        <input type="file" name="treasureImage" accept="image/*.png">
        <!--<input type="submit">-->
    </div>
    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">Add Another Treasure</button>
        <button onclick="actionGrabber()" class="btn btn-primary">All Done</button>
    </div>
</form>
@{
    if (ViewBag.treasureList != null)
    {
        <div class="row">
            <ul>
        @foreach (FindTheBooty.Models.GeneratedModels.treasure tempTreasure in ViewBag.treasureList)
        {
            <li>@tempTreasure.description</li>
        }
            </ul>
        </div>
    }
}

<script>
    function actionGrabber() {
        var form = $('#treasureForm');
        $("#Description").val("something");
        var string = form.attr("action");
        string = string + "&done=true";
        form.attr("action", string);
    }
    
</script>