<!--AddTreasuresView(.cshtml)-->
@model FindTheBooty.Models.AddTreasuresViewModal
@{
    ViewBag.Title = "Add some booty";
}

<h2>Add a treasure!</h2>

<form action="/CreateHunt/HuntSettings/AddTreasures" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control", @placeholder = "Enter the name of the treasure" })
        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
        @*<label for="">Treasure Name</label>
            <input id="treasureName" class="form-control" placeholder="Enter the name of the treasure" />*@
    </div>
    <div class="form-group text-center">
        <button type="reset" class="btn btn-primary">Add Another Treasure</button>
        <button type="submit" class="btn btn-primary">All Done</button>
    </div>
</form>
@{
    if (ViewBag.treasureList != null)
    {

    }
}}