<!--HuntSettingsView(.cshtml)-->
@model FindTheBooty.Models.HuntSettingsViewModel
@{
    ViewBag.Title = "Customize your hunt";
}

<h2>Customize your hunt!</h2>

<form action="/CreateHunt/HuntSettings" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.HuntName)
        @Html.TextBoxFor(m => m.HuntName, new { @class = "form-control", @placeholder = "Enter the name of the hunt" })
        @Html.ValidationMessageFor(m => m.HuntName, "", new { @class = "text-danger" })
        @*<label for="">Hunt Name</label>
            <input id="huntName" class="form-control" placeholder="Enter the name of the hunt" />*@
    </div>
    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">Now add some treasures!</button>
    </div>
</form>