@{ 
    // check if the user is not logged in and accessing an unauthorized location
    /*var controller = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    if (Session["LoggedUser"] == null
    && (controller != "Home" && controller != "Error" && controller != "Account")
    )
    {
        Session.Abandon();
        Response.Redirect("~/");
    }*/
    //TODO: !!!PRODUCTION!!! Uncomment block of code above for production

    var userFullName = "";
    bool loggedIn;

    if (Session["LoggedUser"] != null)
    {
        var user = (FindTheBooty.Models.GeneratedModels.user)Session["LoggedUser"];
        userFullName = user.first_name + " " + user.last_name;
        loggedIn = true;
    }
    else
    {
        loggedIn = false;
        userFullName = "Captain Leas";

    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1.0">
    <title>@ViewBag.Title - Find The Booty</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")      @* Is this necessary? *@
    @Scripts.Render("~/bundles/jquery")         @* jQuery scripts include *@
    @Scripts.Render("~/bundles/menu-handler")   @* menu handler functions *@

</head>
<body>

    <div class="page-container">

        <nav class="navbar navbar-default navbar-static-top navbar-inverse">
            <div class="container-fluid header">
                <a id="left-menu" class="btn btn-inverse" href="#sidr">
                    <span id="menu-icon" class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                </a>
                <span id="nav-logo"><a href="/" style="color:#FFF; text-decoration: none;">Find the Booty</a></span>
            </div>
        </nav>

        <div class="container body-content">

            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year Javalanche Studios - Find The Booty</p>
            </footer>
        </div>

        @* Menu sidebar information *@
        <div id="sidr">
            <ul>
                @* check if user is logged in and display menu items accordingly*@
                @if (loggedIn)
                {
                    <li id="homeNavLink"><a href="/">@userFullName</a></li>
                    <li id="huntsNavLink"><a href="/Participating/"><span class="glyphicon glyphicon-search"></span> Hunts</a></li>
                    <li id="profileNavLink"><a href="/Account/UserProfile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                    <li id="leaderboardsNavLink"><a href="/Leaderboard/"><span class="glyphicon glyphicon-th-list"></span> Leaderboards</a></li>
                    <li id="statisticsNavLink"><a href="#"><span class="glyphicon glyphicon-stats"></span> Statistics</a></li>
                    <li id="adminSettingsNavLink"><a href="#"><span class="glyphicon glyphicon-cog"></span> Admin Settings</a></li>
                    <li id="logoutNavLink" class="danger"><a href="/Account/LogOut"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                }
                else
                {
                    <li id=""><a href="/Account/Login"><span class="glyphicon glyphicon-user"></span> Login</a></li>
                    <li id=""><a href="/Account/Register"><span class="glyphicon glyphicon-pencil"></span> Register</a></li>
                }
            </ul>
        </div>

        @Scripts.Render("~/bundles/bootstrap") @* Include Bootstrap scripts *@
        @RenderSection("scripts", required: false)

    </div>
</body>
</html>
